<main>
  <section class="about-section">
    <div class="container">
      <div class="overlay">
        <div class="title-container">
          <h2 class="about-title">la scelta di garantire li cliente</h2>
          <img src="./images/ce-gr.png" alt="CE" class="ce-img" />
        </div>

        <div class="text-container">
          <p class="about-text">
            Ala Guizzi nasce nel 1961, fondata da Antonio Guizzi, che accosta al
            proprio nome l’acronimo ALA (applicazione leghe austenitiche),
            definendone la ragione sociale. L’azienda collabora da subito con
            importanti nomi dell’industria italiana, contribuendo in modo
            determinante allo sviluppo del paese durante il florido periodo del
            boom economico. Gli elevati standard qualitativi che il fondatore
            impone alla propria azienda sin da inizio attività, sono
            testimoniati dalle durevoli collaborazioni che soddisfano una vasta
            gamma di clienti con forni di piccola, media ed alta produzione. Il
            nostro core business è costituito oggi dalla produzione di
            attrezzature saldate, fuse e misto fuso-saldato, manufatti in rete
            per trattamenti termici, parti di ricambio per forni, tubi radianti,
            muffole, coperchi e porte per forni, carpenteria in acciaio
            resistente alle alte temperature e alla corrosione. La selezione
            accorta ed esclusiva dei migliori materiali disponibili sul mercato,
            certificati dal produttore, e una perseverante ricerca di soluzioni
            innovative, consentono ad Ala Guizzi di assicurare rigorosi livelli
            di efficienza dei nostri manufatti, fornendo parti di ricambio per
            le diverse tipologie di forni, eguali e superiori agli originali,
            costruiti da personale altamente qualificato e con l’ausilio di
            dispositivi di ultima generazione. Il know-how assimilato dalla
            nascita dell’azienda ad oggi è fattore risolutivo nella
            progettazione e realizzazione di attrezzature specifiche per
            ottimizzare carico e deformazione dei pezzi dovuti agli shock
            termici. Produciamo particolari su misura a disegno preventivamente
            concordato con il cliente, oppure utilizzando disegni degli
            originali forniti dal cliente stesso. La garanzia dei nostri clienti
            è scritta nella nostra storia.
          </p>
          <p class="about-text-ce">
            Ala Guizzi, con oltre 50 anni di esperienza nella lavorazione di
            materiali austenitici, da oggi estende il proprio business alla
            commercializzazione di acciaio inox, duplex e superleghe di nickel.
            Il nuovo brand di avere selezionato tra i nostri fornitori.
          </p>
          <p class="about-text-ce">
            Ala Guizzi Sezione Commerciale, distribuisce prodotti destinati
            all’alta temperatura in impianti e forni per il trattamento termico
            dei metalli, oltre ad articoli destinati ad impianti chimici e
            petrolchimici, ineluttabilmente soggetti ad elevata esposizione alla
            corrosione.
          </p>
          <p class="about-text-ce">
            L’ambizione di continuare ad essere riferimento per i nostri clienti
            usuali ed il piacere di soddisfare gli acquirenti futuri, ci rende
            orgogliosi di avere selezionato tra i nostri fornitori alcune tra le
            più qualificate acciaierie europee ed extraeuropee, che rispondono
            alle rigorose normative internazionali.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
