<footer class="footer">
  <div class="footer-container">
    <div class="contact-title-container">
      <h2 class="contact-title">contact</h2>
    </div>

    <div class="contacts-container">
      <p class="company-name">ala guizzi SRL</p>
      <address class="contacts-block">
        <div class="contacts-tel">
          <a class="contacts" href="tel:390362627043">T +39 0362 627043 </a>

          <a class="contacts" href="tel:390362621422">T +39 0362 621422 </a>
        </div>
        <a class="contacts-fax" href="tel:390362628187">F +39 0362 628187 </a>

        <a class="contacts email" href="mailto:alaguizzi@tin.it"
          >E alaguizzi@tin.it
        </a>

        <a class="contacts email" href="mailto:ufficio.tecnico@alaguizzi.it"
          >E ufficio.tecnico@alaguizzi.it
        </a>
      </address>
    </div>
  </div>
</footer>
